Source: com.github.davidmhewitt.torrential
Section: net
Priority: extra
Maintainer: David Hewitt <davidmhewitt@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               valac (>= 0.26),
               libgranite-dev,
               libunity-dev,
               libevent-dev,
               libminiupnpc-dev,
               libnatpmp-dev,
               libb64-dev,
               libcurl4-openssl-dev,
               libssl-dev
Standards-Version: 3.9.3

Package: com.github.davidmhewitt.torrential
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Torrent client
 Simple torrent client for elementary OS.
