[Desktop Entry]
Name=Torrential
GenericName=Torrent Client
GenericName[pt_BR]=Cliente Torrent
Comment=Download torrent files
Comment[pt_BR]=Faça download de arquivos torrent
Categories=Network;
Exec=com.github.davidmhewitt.torrential %U
Icon=com.github.davidmhewitt.torrential
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=torrential
Keywords=Torrent;Bittorrent;Download;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-GNOME-UsesNotifications=true
